// $padding:0px;
$Mainbackrount:#FFFFFF;



#header-colum-img{
	width:314px;
	height:110px;
}
#header-img{
	img{
		width:184;
		height: 84px;
		padding:10px 0 10px 40px;
	}
}
.future-box-info{
	display:inline-block;
	i{
		font-size:1.5em;
	
	}
}
#contact-number-box{
	h4{
		font-size: 1.6em;
		box-sizing:border-box;
		padding: 30px 0 0 100px;
		float:left;
	}
	float:left;
}
#mail-box{
	a{
		font-size:1.6em; 
		box-sizing:border-box;
		padding: 30px 0 10px 85px;
		// border-left:1px solid #F4F4F4;
	}
	float:left;
}

.header-imput-btn {

	input {
		float:right;
	}
	button{
		float:right;
	}
}
.head-Main-Slider{
	img{
		background-size:cover;
	}
}